NEXT_PUBLIC_SUPABASE_URL=https://ihlltsrlzcwjwxrkcmkm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlobGx0c3JsemN3and4cmtjbWttIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMzMjE0ODgsImV4cCI6MjA5ODg5NzQ4OH0.zmDacXc77z42gOSpACHlxiuREJi0fXfo-DjuFygjxUU
